{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Signup | Travel Policy Assistant</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>Create Account</h1>
        <p class="subtitle">Register with your employee details</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Signup</button>
        </form>

        <p class="link-text">
            Already have an account?
            <a href="/login/">Login</a>
        </p>

    </div>

</div>

</body>
</html>